@using Managing_Teacher_Work.Models;
@{
    ViewBag.Title = "ProfileStudent";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var student = (Student)ViewBag.student;
    var Class = (Class)ViewBag.Class;
}

<script>
    function cancel() {
        if ((document.referrer.toString().indexOf("/liststudent/") != -1)) {
            window.location = "/liststudent/@Class.ID";
        }
    }
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin sinh viên</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <div class="profile_img">

                        <!-- end of image cropping -->
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/assets/production/images/avatar.png" alt="Avatar" title="Change the avatar">

                            <!-- Cropping modal -->
                            <!-- /.modal -->
                            <!-- Loading state -->
                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
                        <!-- end of image cropping -->

                    </div>
                    <h3>@student.Name_Student</h3>



                    <button class="btn btn-search" style="background-color:orangered; color: white" onclick="cancel();">
                        <span></span><i class="fa fa-undo"></i>&nbsp;Quay lại
                    </button>
                    <br />

                    <!-- start skills -->
                    <!-- end of skills -->

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">


                    <!-- start of user-activity-graph -->
                    <!-- end of user-activity-graph -->

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Thông tin cá nhân</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <div>
                                    <div class="row">
                                        <div class="table-custom">
                                            <table class="table" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20%">Ngày sinh</td>
                                                    <td style="width: 80%">@student.DateOfBirth.ToString("dd/MM/yyyy")</td>


                                                </tr>
                                                <tr>
                                                    <td style="width: 20%">Email</td>
                                                    <td style="width: 80%">@student.Email</td>


                                                </tr>
                                                <tr>
                                                    <td style="width: 20%">Phone</td>
                                                    <td style="width: 80%">@student.Phone</td>


                                                </tr>
                                                <tr>
                                                    <td style="width: 20%">Địa chỉ</td>
                                                    <td style="width: 80%">@(student.Address ?? "")</td>


                                                </tr>




                                            </table>
                                        </div>
                                    </div>
                                    <!-- start recent activity -->
                                    <!-- end recent activity -->

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





